[submodule "themes/fluency"]
	path = themes/fluency
	url = https://github.com/wayjam/hugo-theme-fluency.git
[submodule "themes/slick"]
	path = themes/slick
	url = https://github.com/spookey/slick.git
